/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/default.css';
@import './font-awesome.css';

.margin-rl-16 {
    margin-left: 16;
    margin-right: 16;
  }
.input-text {
    margin: 16;
    margin-top: 24;
    font-size: 18;
    placeholder-color: gray;
  }
.btn-large {
    font-size: 18;
    font-weight: bold;
    height: 64;
  }
.fb-login-button {
    background: #3b5998;
    color: white;
  }
.link {
    border-color: transparent;
    border-width: 1;
    z-index: 0;
    text-align: right;
  }

.fab-button {
    height: 70;
    width: 70; 
    margin-right: 20;
    margin-bottom: 20;
    background-color: #ff4081;
    text-align: center;
    font-size: 32;
    horizontal-align: right;
    vertical-align: bottom;
    border-radius: 40;
}

.search-box{
  height: 50;
  margin-bottom: 30;
  font-size: 24;
  width: 75%;
  horizontal-align: left;
  vertical-align: bottom;
}
